%h2 Standard Membership Portal
%p People can join groups w/o paying dues (0 authority) / assign other roles to membership
%p
  - form_for @membership, :url => { :action => :create } do |f|
    = f.hidden_field :user_id, :value => current_user.id
    = f.hidden_field :group_id, :value => params[:group_id]
    = f.submit "Join Group"

