%h2.prepend-1 Password reset
%h4.prepend-2.append-2 
  Fill out the form below and instructions to reset your password will be emailed to you.
- form_tag password_resets_path do 
  .form_row
    %label Email
    = text_field_tag "email" 
    = submit_tag "Reset"
