log/*.log
.DS_Store
.rake_tasks
Capfile
config/deploy.rb
config/database.yml
public/system/*
public/assets/*
tmp
**/*.db
\#*
**/*.db
*~
.#*
db/*.sql
db/*.sqlite3
db/schema.rb
db/sphinx/*
sql_backup/*
vendor/rails
vendor/extensions
public/.htaccess

