body
  :background url('/images/body_bg.png') 0 0 repeat-x
  :background-color #ededed

#header
  :position relative
  :background url('/images/header_bg.png') 0 0 repeat-x
  :height 117px
  :color #ededed
  
.nav
  :color #ededed
  #login
    a
      :color #ededed
      :text-decoration none
      :padding 0 4px
      &:hover
        :color #004B73
        :background-color #d1e1ea

  p
    :color #004B73
    :background-color #d1e1ea
    :padding 2px 4px
  
  #nav-list ul
    :list-style none
    :padding 0
    :margin 0
  
  #nav-list li
    :float left
    :margin 0 0.2em
    :list-style none

  #nav-list li a
    :color #ededed
    :font-size 14pt
    :line-height 1em
    :padding 1px 2px
    :float left
    :display block
    :text-decoration none
    :text-align center
    &:hover
      :color #004B73
      :background-color #d1e1ea      

#content
  :background white
  :margin-bottom 120px
  :min-height 500px
  :height 500px
  :height auto !important

#splash
  :background #EAFFD6
  :border 1px solid #97AD71

.cred
  :border-top 1px solid #888

.ballot
 
.flr
  :float right

.fll
  :float left
  
.center
  :text-align center

.rounded 
  :-webkit-border-radius 4px
  :-khtml-border-radius 4px
  :-moz-border-radius 4px
  :border-radius 4px  

.border-test
  :border 1px solid #999
  :padding 4px
