body {
  background: url('/images/body_bg.png') 0 0 repeat-x;
  background-color: #ededed; }

a, a:focus, button:focus, input:focus, textarea:focus {
  outline: none; }

-#a img # this breaks a lot of the layout, please use classes {
  padding-right: 10px; }

button::-moz-focus-inner {
  border: 0; }

h2 {
  color: #82b039; }

h1.logo a {
  width: 310px;
  height: 97px;
  background: url('/images/logo.jpg') 0 0 repeat-x;
  display: block;
  text-indent: -8888px;
  margin: 5px 0px 0px 13px;
  float: left; }

#header {
  position: relative;
  background: url('/images/header_bg.png') 0 0 repeat-x;
  height: 117px;
  color: #ededed; }

a.rounded, div.pagination a {
  outline: none;
  border: none;
  white-space: nowrap;
  vertical-align: middle;
  diplay: -moz-inline-box;
  display: inline-block;
  overflow: visible; }

.nav {
  color: #ededed; }
  .nav #login a {
    color: #ededed;
    text-decoration: none;
    padding: 0 4px; }
    .nav #login a:hover {
      color: #004B73;
      background-color: #d1e1ea; }
  .nav p {
    color: #004B73;
    background-color: #d1e1ea;
    padding: 2px 4px; }
  .nav #nav-list ul {
    list-style: none;
    padding: 0;
    margin: 0; }
  .nav #nav-list li {
    float: left;
    margin: 0 0.2em;
    list-style: none; }
  .nav #nav-list li a {
    color: #ededed;
    font-size: 14pt;
    line-height: 1em;
    float: left;
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 3px; }
    .nav #nav-list li a:hover {
      color: #004B73;
      background-color: #d1e1ea; }
  .nav #nav-list li.active a.rounded {
    color: #004B73;
    background-color: #d1e1ea; }

#content {
  background: white;
  margin-bottom: 120px;
  min-height: 500px;
  height: 500px;
  height: auto !important;
  width: 950px; }

#splash {
  background: #EAFFD6;
  border: 1px solid #97AD71; }

.cred {
  border-top: 1px solid #888; }


.flr {
  float: right; }

.fll {
  float: left; }

.clear {
  clear: both; }

.center {
  text-align: center; }

.rounded {
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }

.border-test {
  border: 1px solid #999;
  padding: 4px; }

#green {
  width: 940px;
  min-height: 300px;
  background: url('/images/green_mid_rpt.jpg') 0 0 repeat-y;
  margin: 30px 0px 0px 27px; }

#green-top {
  background: url('/images/green_mid_top.jpg') 0 0 no-repeat;
  width: 940px;
  height: 20px;
  display: block;
  margin: 0px 0px 0px 0px;
  float: left; }

#green-bottom {
  clear: both;
  background: url('/images/green_mid_btm.jpg') no-repeat bottom left;
  width: 940px;
  height: 20px;
  display: block;
  margin: 0px 0px 50px 0px; }

.tbs {
  margin: 40px auto 40px auto; }

div.rounded-box, div.rounded-box div {
  background: url('/images/rounded.jpg'); }

div.rounded-box-header, div.rounded-box-header div {
  background: url('/images/rounded_large.jpg'); }

div.rounded-box, div.rounded-box-header {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  background-repeat: no-repeat;
  background-position: bottom left;
  height: 1%; }

.rounded-box-small {
  width: 400px; }

.rounded-box-medium {
  width: 550px; }

.rounded-box-full {
  width: 775px; }

.rounded-box-full-header {
  width: 930px; }

div.rounded-box div, div.rounded-box-header div {
  margin: 0px 0px 0px 13px;
  background-repeat: no-repeat;
  background-position: bottom right;
  padding: 0px 0px 13px 0px;
  width: auto; }

div.rounded-box div div, div.rounded-box-header div div {
  background-position: top right;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px; }

div.rounded-box div div div, div.rounded-box-header div div div {
  margin: 0px 13px 0px -13px;
  background-position: top left;
  padding: 13px 0px 0px 13px; }

div.rounded-box div div div div, div.rounded-box-header div div div div {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  background: none;
  background-image: none;
  background-position: top left;
  background-repeat: repeat;
  background-color: transparent;
  width: 100%; }

.rwide {
  background: url('/images/light_blue_mid.jpg') repeat top left;
  height: 290px;
  width: 900px; }

.rwide-left {
  background: url('/images/light_blue_left.jpg') no-repeat top left;
  height: 290px;
  width: 20px;
  display: block;
  float: left;
  width: 870px; }

.rwide-right {
  background: url('/images/light_blue_right.jpg') no-repeat top right;
  height: 290px;
  width: 20px;
  display: block;
  float: right; }

.group-details {
  margin: 10px 0px 0px 0px; }

.group-image {
  padding: 10px 0px 0px 20px;
  float: left; }

.centered {
  position: relative;
  margin: 40px auto 30px auto !important; }

.centered2 {
  margin: 4px auto 20px auto; }

@import url(styles.css);
legend {
  padding: .4em 1em; }

label {
  width: 10em;
  float: left;
  text-align: right;
  margin-right: 1.4em;
  display: block; }

.form_row {
  white-space: nowrap;
  padding-bottom: 0.4em; }

button {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  width: auto;
  overflow: visible;
  text-align: center;
  white-space: nowrap;
  height: 29px;
  line-height: 29px;
  cursor: pointer; }

button span, button em {
  display: block;
  height: 29px;
  line-height: 29px;
  margin: 0; }

button span {
  padding-left: 12px;
  background: url('/images/button.png') 0px 0px no-repeat; }

button span.lite-span {
  padding-left: 12px;
  background: url('/images/button.png') 0px 80px no-repeat; }

button em {
  font-size: 12pt;
  font-style: normal;
  font-weight: normal;
  color: #ededed;
  padding-right: 12px;
  background: url('/images/button.png') 100% 0px no-repeat; }

button em.lite-em {
  color: #222;
  font-size: 12pt;
  font-style: normal;
  font-weight: normal;
  padding-right: 12px;
  background: url('/images/button.png') 100% 80px no-repeat; }

.buttonless_field {
  background: url('/images/search_glass_gray.png') 5px 5px no-repeat;
  padding-left: 23px !important; }

input.invitation_email_text {
  width: 200px; }

input.invitation_email_text:focus {
  border: 1px solid #bbb; }

button#invitation_submit {
  background: url('/images/submit_btn.jpg') no-repeat top left;
  width: 134px;
  height: 43px;
  display: block;
  text-indent: -8888px;
  font-size: 0px !important;
  border: 0;
  margin: -42px 0px 0px 280px;
  outline: 0;
  cursor: pointer; }
  button#invitation_submit:focus {
    background: url('/images/submit_btn_hvr.jpg') no-repeat top left;
    outline: none; }

h2.email {
  float: left;
  text-align: left;
  margin: -4px 0px 4px 0px;
  display: inline;
  font-size: 18px;
  padding: 10px 3px 3px 0px;
  color: #003366; }

ul.invitations {
  margin: 0;
  padding: 0; }

ul.invitations li {
  list-style: none;
  margin: 5px 5px 5px 0px; }

ul.invitations li span {
  min-width: 170px;
  height: 20px;
  background: #eee;
  margin: 1px;
  display: inline-block;
  text-align: center;
  padding: 4px; }

ul.invitations li span.title {
  background: #ccc;
  font-weight: bold;
  text-transform: uppercase; }

.form-space {
  margin-bottom: 20px; }

.rounded-box-largefont div.quiet {
  width: 80%;
  margin: 0px 0px 0px 46px; }
.rounded-box-largefont form {
  margin: 0px 20px 0px 46px;
  width: 80%; }
  .rounded-box-largefont form p {
    width: 440px;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px; }
  .rounded-box-largefont form label {
    margin: 0px 0px 0px 0px;
    float: none;
    text-align: left;
    width: 100px; }
  .rounded-box-largefont form input, .rounded-box-largefont form input:focus {
    margin: 0px 0px 4px 0px;
    padding: 4px 0px 0px 0px;
    float: none;
    height: 23px;
    line-height: 25px; }

.fieldWithErrors {
  display: block; }

#errorExplanation {
  font-size: large;
  border: 1px solid red;
  padding: 12px 7px 0px 7px;
  background-color: #f0f0f0;
  margin: 1em 1em 1em 0em;
  max-width: 500px; }
  #errorExplanation h2 {
    text-align: left;
    font-weight: bold;
    padding: 12px 5px 5px 15px;
    font-size: 12pt;
    margin: -7px;
    background-color: #c00;
    color: #fff;
    display: none; }
  #errorExplanation p {
    color: #333;
    margin-bottom: 0;
    padding: 5px;
    display: none; }
  #errorExplanation ul li {
    font-size: 11pt;
    list-style: circle; }

div.pagination {
  padding: 3px;
  margin: 40px auto 40px auto;
  text-align: center;
  width: 90%;
  border: 0;
  background-color: #c9d9e1; }
  div.pagination h3 {
    margin-bottom: 0em;
    padding: 10px 0px 10px 0px;
    border: 0; }
  div.pagination a {
    border: 1px solid #eee;
    margin-right: 3px;
    padding: 4px;
    background-color: #003f6d;
    background-position: bottom;
    text-decoration: none;
    color: #e2e9ec; }
    div.pagination a:hover {
      border: 1px solid #eee;
      background-image: none;
      background-color: #fff;
      color: #02293e; }
  div.pagination span.current_page {
    margin-right: 3px;
    padding: 2px 6px;
    font-weight: bold;
    color: #333; }
  div.pagination span.disabled_page {
    margin-right: 3px;
    padding: 2px 6px;
    color: #333; }
div.meneame a:active {
  border: 1px solid #eee;
  background-image: none;
  background-color: #fff;
  color: #02293e; }
