body {
  background: url('/images/body_bg.png') 0 0 repeat-x;
  background-color: #ededed;
  behavior: url('/stylesheets/csshover3.htc'); }

a {
  outline: none;
  color: #003366; }

#header {
  position: absolute;
  width: 950px;
  height: 117px;
  background: url('/images/header_bg.png') 0 0 repeat-x;
  color: #ededed;
  top: 0; }

h1.logo a {
  width: 310px;
  height: 97px;
  background: url('/images/logo.jpg') 0 0 repeat-x;
  display: block;
  text-indent: -8888px;
  margin: 4px 0px 0px 13px;
  position: absolute; }

.nav {
  color: #ededed;
  position: relative;
  width: 630px;
  float: right;
  margin-right: 20px; }
  .nav #login a {
    color: #ededed;
    text-decoration: none;
    padding: 0 4px; }
    .nav #login a:hover {
      color: #004B73;
      background-color: #d1e1ea; }
  .nav p {
    color: #004B73;
    background-color: #d1e1ea;
    padding: 2px 4px; }
  .nav p#flash-notice {
    position: absolute;
    margin: 0 0 0 140px; }
  .nav #nav-list {
    position: absolute;
    top: 40px;
    margin-left: 40px;
    _padding-left: 20px;
    *margin-left: -400px; }
  .nav #nav-list ul {
    list-style: none;
    padding: 0;
    margin: 0; }
  .nav #nav-list li {
    float: left;
    margin: 0 0.2em;
    list-style: none;
    font-size: 14px;
    _width: 40px!important; }
  .nav #nav-list li span {
    background: url('/images/nav_btn_right.jpg') no-repeat top right;
    padding-right: 12px;
    height: 32px;
    line-height: 30px;
    min-width: 40px;
    _width: 40px!important;
    display: block;
    color: #333; }
    .nav #nav-list li span:hover {
      background: url('/images/nav_btn_right_hvr.jpg') no-repeat top right; }
  .nav #nav-list li span a {
    background: url('/images/nav_btn_left.jpg') no-repeat top left;
    display: block;
    padding-right: 0px;
    color: #333;
    height: 32px;
    _width: 40px!important;
    line-height: 30px;
    display: block;
    text-decoration: none;
    text-align: center;
    text-indent: 11px; }
    .nav #nav-list li span a:hover {
      background: url('/images/nav_btn_left_hvr.jpg') no-repeat top left;
      color: #000; }

#content {
  background: white;
  position: absolute;
  margin: 117px 0px 150px 0px;
  width: 950px;
  min-height: 500px;
  height: 500px;
  height: auto !important;
  overflow: hidden; }

#splash {
  background: #EAFFD6;
  border: 1px solid #97AD71; }

.cred {
  border-top: 1px solid #888; }


.flr {
  float: right; }

.fll {
  float: left; }

.center {
  text-align: center; }

.rounded {
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }

.border-test {
  border: 1px solid #999;
  padding: 4px; }

#green {
  width: 940px;
  min-height: 300px;
  background: url('/images/green_mid_rpt.jpg') 0 0 repeat-y;
  margin: 30px 0px 0px 27px; }

#green-top {
  background: url('/images/green_mid_top.jpg') 0 0 no-repeat;
  width: 940px;
  height: 20px;
  display: block;
  margin: 0px 0px 0px 0px;
  float: left; }

#green-bottom {
  clear: both;
  background: url('/images/green_mid_btm.jpg') no-repeat bottom left;
  width: 940px;
  height: 20px;
  display: block;
  margin: 0px 0px 0px 0px; }

@import url(styles.css);
legend {
  padding: .4em 1em; }

label {
  width: 10em;
  float: left;
  text-align: right;
  margin-right: 1.4em;
  display: block; }

.form_row {
  white-space: nowrap;
  padding-bottom: 0.4em; }

button {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  width: auto;
  overflow: visible;
  text-align: center;
  white-space: nowrap;
  height: 29px;
  line-height: 29px;
  cursor: pointer; }

button span, button em {
  display: block;
  height: 29px;
  line-height: 29px;
  margin: 0; }

button span {
  padding-left: 12px;
  background: url('/images/button.png') 0px -40px no-repeat; }

button em {
  font-size: 12pt;
  font-style: normal;
  font-weight: bold;
  color: #ededed;
  padding-right: 12px;
  background: url('/images/button.png') 100% -40px no-repeat; }

.buttonless_field {
  background: url('/images/search_glass_gray.png') 5px 5px no-repeat;
  padding-left: 23px !important; }

input.invitation_email_text {
  width: 207px; }

input.invitation_email_text:focus {
  border: 1px solid #bbb; }

input#invitation_submit {
  background: url('/images/submit_btn.jpg') no-repeat top left;
  width: 134px;
  height: 43px;
  display: block;
  text-indent: -8888px;
  font-size: 0px !important;
  border: 0;
  margin: -42px 0px 0px 280px;
  outline: 0;
  cursor: pointer;
  cursor: hand;
  color: #003567; }

input#invitation_submit:hover, input#invitation_submit:focus {
  background: url('/images/submit_btn_hvr.jpg') no-repeat top left;
  width: 134px;
  height: 43px;
  display: block;
  text-indent: -8888px;
  border: 0;
  font-size: 0px !important;
  margin: -42px 0px 0px 280px;
  outline: 0;
  cursor: pointer;
  cursor: hand;
  color: #2c6989; }

form>#invitation_submit {
  height: 0px; }

h2.email {
  float: left;
  text-align: left;
  margin: -4px 0px 4px 0px;
  display: inline;
  font-size: 18px;
  padding: 10px 3px 3px 0px;
  color: #003366; }

.fieldWithErrors {
  display: block; }

#errorExplanation {
  font-size: large;
  border: 1px solid red;
  padding: 12px 7px 0px 7px;
  background-color: #f0f0f0;
  margin: 1em 2.5em; }
  #errorExplanation h2 {
    text-align: left;
    font-weight: bold;
    padding: 12px 5px 5px 15px;
    font-size: 12pt;
    margin: -7px;
    background-color: #c00;
    color: #fff;
    display: none; }
  #errorExplanation p {
    color: #333;
    margin-bottom: 0;
    padding: 5px;
    display: none; }
  #errorExplanation ul li {
    font-size: 11pt;
    list-style: circle; }

div.pagination {
  padding: 3px;
  margin: 3px;
  text-align: center; }
  div.pagination a {
    border: 1px solid #dedfde;
    margin-right: 3px;
    padding: 2px 6px;
    background-position: bottom;
    text-decoration: none;
    color: #0061de; }
    div.pagination a:hover {
      border: 1px solid #000;
      background-image: none;
      background-color: #0061de;
      color: #fff; }
  div.pagination span.current_page {
    margin-right: 3px;
    padding: 2px 6px;
    font-weight: bold;
    color: #ff0084; }
  div.pagination span.disabled_page {
    margin-right: 3px;
    padding: 2px 6px;
    color: #adaaad; }
div.meneame a:active {
  border: 1px solid #000;
  background-image: none;
  background-color: #0061de;
  color: #fff; }
