/*
Sass::SyntaxError: Undefined variable: "!grantvoteblue".
on line 90 of /home/katz/sandbox/htdocs/grantvote/public/stylesheets/sass/forms.sass

86:   :margin 5px 0px 0px 0px 
87:   :display inline
88:   :font-size 18px
89:   :padding 10px 3px 3px 0px
90:   :color = !grantvoteblue


Backtrace:
/home/katz/sandbox/htdocs/grantvote/public/stylesheets/sass/forms.sass:90
/usr/local/lib/ruby/gems/1.8/gems/haml-2.1.0/rails/../lib/sass/script/variable.rb:16:in `perform'
/usr/local/lib/ruby/gems/1.8/gems/haml-2.1.0/rails/../lib/sass/tree/attr_node.rb:49:in `perform!'
/usr/local/lib/ruby/gems/1.8/gems/haml-2.1.0/rails/../lib/sass/tree/node.rb:57:in `_perform'
/usr/local/lib/ruby/gems/1.8/gems/haml-2.1.0/rails/../lib/sass/tree/node.rb:47:in `perform'
/usr/local/lib/ruby/gems/1.8/gems/haml-2.1.0/rails/../lib/sass/tree/node.rb:66:in `perform_children'
/usr/local/lib/ruby/gems/1.8/gems/haml-2.1.0/rails/../lib/sass/tree/node.rb:66:in `map'
/usr/local/lib/ruby/gems/1.8/gems/haml-2.1.0/rails/../lib/sass/tree/node.rb:66:in `perform_children'
/usr/local/lib/ruby/gems/1.8/gems/haml-2.1.0/rails/../lib/sass/tree/node.rb:62:in `perform!'
/usr/local/lib/ruby/gems/1.8/gems/haml-2.1.0/rails/../lib/sass/tree/rule_node.rb:133:in `perform!'
/usr/local/lib/ruby/gems/1.8/gems/haml-2.1.0/rails/../lib/sass/tree/node.rb:57:in `_perform'
/usr/local/lib/ruby/gems/1.8/gems/haml-2.1.0/rails/../lib/sass/tree/node.rb:47:in `perform'
/usr/local/lib/ruby/gems/1.8/gems/haml-2.1.0/rails/../lib/sass/tree/node.rb:66:in `perform_children'
/usr/local/lib/ruby/gems/1.8/gems/haml-2.1.0/rails/../lib/sass/tree/node.rb:66:in `map'
/usr/local/lib/ruby/gems/1.8/gems/haml-2.1.0/rails/../lib/sass/tree/node.rb:66:in `perform_children'
/usr/local/lib/ruby/gems/1.8/gems/haml-2.1.0/rails/../lib/sass/tree/node.rb:62:in `perform!'
/usr/local/lib/ruby/gems/1.8/gems/haml-2.1.0/rails/../lib/sass/tree/node.rb:57:in `_perform'
/usr/local/lib/ruby/gems/1.8/gems/haml-2.1.0/rails/../lib/sass/tree/node.rb:47:in `perform'
/usr/local/lib/ruby/gems/1.8/gems/haml-2.1.0/rails/../lib/sass/engine.rb:104:in `render'
/usr/local/lib/ruby/gems/1.8/gems/haml-2.1.0/rails/../lib/sass/plugin.rb:75:in `update_stylesheet'
/usr/local/lib/ruby/gems/1.8/gems/haml-2.1.0/rails/../lib/sass/plugin.rb:60:in `update_stylesheets'
/usr/local/lib/ruby/gems/1.8/gems/haml-2.1.0/rails/../lib/sass/plugin.rb:55:in `each'
/usr/local/lib/ruby/gems/1.8/gems/haml-2.1.0/rails/../lib/sass/plugin.rb:55:in `update_stylesheets'
/usr/local/lib/ruby/gems/1.8/gems/haml-2.1.0/rails/../lib/sass/plugin.rb:53:in `each'
/usr/local/lib/ruby/gems/1.8/gems/haml-2.1.0/rails/../lib/sass/plugin.rb:53:in `update_stylesheets'
/usr/local/lib/ruby/gems/1.8/gems/haml-2.1.0/rails/../lib/sass/plugin/rails.rb:16:in `process'
/usr/local/lib/ruby/gems/1.8/gems/actionpack-2.3.2/lib/action_controller/base.rb:391:in `process'
/usr/local/lib/ruby/gems/1.8/gems/actionpack-2.3.2/lib/action_controller/base.rb:386:in `call'
/usr/local/lib/ruby/gems/1.8/gems/actionpack-2.3.2/lib/action_controller/routing/route_set.rb:433:in `call'
/usr/local/lib/ruby/gems/1.8/gems/actionpack-2.3.2/lib/action_controller/dispatcher.rb:88:in `dispatch'
/usr/local/lib/ruby/gems/1.8/gems/actionpack-2.3.2/lib/action_controller/dispatcher.rb:111:in `_call'
/usr/local/lib/ruby/gems/1.8/gems/actionpack-2.3.2/lib/action_controller/dispatcher.rb:82:in `initialize'
/usr/local/lib/ruby/gems/1.8/gems/activerecord-2.3.2/lib/active_record/query_cache.rb:29:in `call'
/usr/local/lib/ruby/gems/1.8/gems/activerecord-2.3.2/lib/active_record/query_cache.rb:29:in `call'
/usr/local/lib/ruby/gems/1.8/gems/activerecord-2.3.2/lib/active_record/connection_adapters/abstract/query_cache.rb:34:in `cache'
/usr/local/lib/ruby/gems/1.8/gems/activerecord-2.3.2/lib/active_record/query_cache.rb:9:in `cache'
/usr/local/lib/ruby/gems/1.8/gems/activerecord-2.3.2/lib/active_record/query_cache.rb:28:in `call'
/usr/local/lib/ruby/gems/1.8/gems/activerecord-2.3.2/lib/active_record/connection_adapters/abstract/connection_pool.rb:361:in `call'
/usr/local/lib/ruby/gems/1.8/gems/actionpack-2.3.2/lib/action_controller/vendor/rack-1.0/rack/head.rb:9:in `call'
/usr/local/lib/ruby/gems/1.8/gems/actionpack-2.3.2/lib/action_controller/vendor/rack-1.0/rack/methodoverride.rb:24:in `call'
/usr/local/lib/ruby/gems/1.8/gems/actionpack-2.3.2/lib/action_controller/params_parser.rb:15:in `call'
/usr/local/lib/ruby/gems/1.8/gems/actionpack-2.3.2/lib/action_controller/rewindable_input.rb:25:in `call'
/usr/local/lib/ruby/gems/1.8/gems/actionpack-2.3.2/lib/action_controller/session/cookie_store.rb:93:in `call'
/usr/local/lib/ruby/gems/1.8/gems/actionpack-2.3.2/lib/action_controller/reloader.rb:9:in `call'
/usr/local/lib/ruby/gems/1.8/gems/actionpack-2.3.2/lib/action_controller/failsafe.rb:11:in `call'
/usr/local/lib/ruby/gems/1.8/gems/actionpack-2.3.2/lib/action_controller/vendor/rack-1.0/rack/lock.rb:11:in `call'
/usr/local/lib/ruby/gems/1.8/gems/actionpack-2.3.2/lib/action_controller/vendor/rack-1.0/rack/lock.rb:11:in `synchronize'
/usr/local/lib/ruby/gems/1.8/gems/actionpack-2.3.2/lib/action_controller/vendor/rack-1.0/rack/lock.rb:11:in `call'
/usr/local/lib/ruby/gems/1.8/gems/actionpack-2.3.2/lib/action_controller/dispatcher.rb:106:in `call'
/usr/local/lib/ruby/gems/1.8/gems/rails-2.3.2/lib/rails/rack/static.rb:31:in `call'
/usr/local/lib/ruby/gems/1.8/gems/actionpack-2.3.2/lib/action_controller/vendor/rack-1.0/rack/urlmap.rb:46:in `call'
/usr/local/lib/ruby/gems/1.8/gems/actionpack-2.3.2/lib/action_controller/vendor/rack-1.0/rack/urlmap.rb:40:in `each'
/usr/local/lib/ruby/gems/1.8/gems/actionpack-2.3.2/lib/action_controller/vendor/rack-1.0/rack/urlmap.rb:40:in `call'
/usr/local/lib/ruby/gems/1.8/gems/rails-2.3.2/lib/rails/rack/log_tailer.rb:17:in `call'
/usr/local/lib/ruby/gems/1.8/gems/actionpack-2.3.2/lib/action_controller/vendor/rack-1.0/rack/content_length.rb:13:in `call'
/usr/local/lib/ruby/gems/1.8/gems/actionpack-2.3.2/lib/action_controller/vendor/rack-1.0/rack/chunked.rb:15:in `call'
/usr/local/lib/ruby/gems/1.8/gems/actionpack-2.3.2/lib/action_controller/vendor/rack-1.0/rack/handler/mongrel.rb:61:in `process'
/usr/local/lib/ruby/gems/1.8/gems/mongrel-1.1.5/lib/mongrel.rb:159:in `process_client'
/usr/local/lib/ruby/gems/1.8/gems/mongrel-1.1.5/lib/mongrel.rb:158:in `each'
/usr/local/lib/ruby/gems/1.8/gems/mongrel-1.1.5/lib/mongrel.rb:158:in `process_client'
/usr/local/lib/ruby/gems/1.8/gems/mongrel-1.1.5/lib/mongrel.rb:285:in `run'
/usr/local/lib/ruby/gems/1.8/gems/mongrel-1.1.5/lib/mongrel.rb:285:in `initialize'
/usr/local/lib/ruby/gems/1.8/gems/mongrel-1.1.5/lib/mongrel.rb:285:in `new'
/usr/local/lib/ruby/gems/1.8/gems/mongrel-1.1.5/lib/mongrel.rb:285:in `run'
/usr/local/lib/ruby/gems/1.8/gems/mongrel-1.1.5/lib/mongrel.rb:268:in `initialize'
/usr/local/lib/ruby/gems/1.8/gems/mongrel-1.1.5/lib/mongrel.rb:268:in `new'
/usr/local/lib/ruby/gems/1.8/gems/mongrel-1.1.5/lib/mongrel.rb:268:in `run'
/usr/local/lib/ruby/gems/1.8/gems/actionpack-2.3.2/lib/action_controller/vendor/rack-1.0/rack/handler/mongrel.rb:34:in `run'
/usr/local/lib/ruby/gems/1.8/gems/rails-2.3.2/lib/commands/server.rb:111
/usr/local/lib/ruby/site_ruby/1.8/rubygems/custom_require.rb:31:in `gem_original_require'
/usr/local/lib/ruby/site_ruby/1.8/rubygems/custom_require.rb:31:in `require'
script/server:3
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Sass::SyntaxError: Undefined variable: \"!grantvoteblue\".\A on line 90 of /home/katz/sandbox/htdocs/grantvote/public/stylesheets/sass/forms.sass\A \A 86:   :margin 5px 0px 0px 0px \A 87:   :display inline\A 88:   :font-size 18px\A 89:   :padding 10px 3px 3px 0px\A 90:   :color = !grantvoteblue\A "; }
