body {
  background: url('/images/body_bg.png') 0 0 repeat-x;
  background-color: #ededed; }

a, a:focus, button:focus, input:focus, textarea:focus {
  outline: none; }

a.homepage.userlink {
  text-decoration: none; }
  a.homepage.userlink:hover {
    text-decoration: underline; }

button::-moz-focus-inner {
  border: 0; }

h2 {
  color: #82b039; }

h1.logo a {
  width: 310px;
  height: 97px;
  background: url('/images/logo.jpg') 0 0 repeat-x;
  display: block;
  text-indent: -8888px;
  margin: 5px 0px 0px 13px;
  float: left; }

#header {
  position: relative;
  background: url('/images/header_bg.png') 0 0 repeat-x;
  height: 117px;
  color: #ededed; }

a.rounded, div.pagination a {
  outline: none;
  border: none;
  white-space: nowrap;
  vertical-align: middle;
  display: inline-block;
  display: -moz-inline-box;
  overflow: visible; }

.nav {
  color: #ededed; }
  .nav #login a {
    color: #ededed;
    text-decoration: none;
    background-color: #004B73; }
    .nav #login a:hover {
      border-bottom: 1px solid #d1e1ea; }
  .nav p {
    color: #004B73;
    background-color: #d1e1ea;
    padding: 2px 4px; }
  .nav #nav-list ul {
    list-style: none;
    padding: 0;
    margin: 0; }
  .nav #nav-list li {
    float: left;
    margin: 0 0.2em;
    list-style: none; }
  .nav #nav-list li a {
    color: #ededed;
    background-color: #004B73;
    font-size: 14pt;
    line-height: 1em;
    float: left;
    display: inline;
    text-decoration: none;
    text-align: center;
    padding: 3px; }
    .nav #nav-list li a:hover {
      border-bottom: 2px solid #d1e1ea; }

#content {
  background: white;
  padding-bottom: 60px;
  min-height: 400px;
  height: auto !important; }

#footer {
  min-height: 80px; }

#splash {
  background: #EAFFD6;
  border: 1px solid #97AD71; }

.activity {
  min-height: 48px; }

.time_ago {
  font-size: 9px;
  color: #353535; }

.cred {
  border-top: 1px solid #888; }


.flr {
  float: right; }

.fll {
  float: left; }

.clear {
  clear: both; }

.center {
  text-align: center; }

.status_update {
  font-size: 15px; }
  .status_update hr {
    color: white;
    background-color: white;
    border-bottom: 1px dashed #bdbdbd;
    padding-top: 4px; }

.border-test {
  border: 1px solid #999;
  padding: 4px; }

#group_members {
  position: relative;
  top: -60px;
  background-color: #ededed;
  border: 1px solid #ccc; }

#verify a img {
  padding: 0;
  margin-right: -3px; }

h3.profile_verify {
  position: relative;
  left: -10px; }

#join_panel {
  /* :background-color #f3f3f3 */ }

#green {
  width: 940px;
  min-height: 300px;
  background: url('/images/green_mid_rpt.jpg') 0 0 repeat-y;
  margin: 30px 0px 0px 27px; }

#green-top {
  background: url('/images/green_mid_top.jpg') 0 0 no-repeat;
  width: 940px;
  height: 20px;
  display: block;
  margin: 0px 0px 0px 0px;
  float: left; }

#green-bottom {
  clear: both;
  background: url('/images/green_mid_btm.jpg') no-repeat bottom left;
  width: 940px;
  height: 20px;
  display: block;
  margin: 0px 0px 50px 0px; }

.tbs {
  margin: 40px auto 40px auto; }

div.rounded-box, div.rounded-box div {
  background: url('/images/rounded.jpg'); }

div.rounded-box-header, div.rounded-box-header div {
  background: url('/images/rounded_large.jpg'); }

div.rounded-box, div.rounded-box-header {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  background-repeat: no-repeat;
  background-position: bottom left;
  height: 1%; }

.rounded-box-image {
  width: 330px;
  text-align: center; }

.rounded-box-small {
  width: 400px; }

.rounded-box-smaller {
  width: 370px; }

.rounded-box-medium {
  width: 530px; }

.rounded-box-medium2 {
  width: 600px; }

.rounded-box-full {
  width: 775px; }

.rounded-box-full-header {
  width: 930px; }

div.rounded-box div, div.rounded-box-header div {
  margin: 0px 0px 0px 13px;
  background-repeat: no-repeat;
  background-position: bottom right;
  padding: 0px 0px 13px 0px;
  width: auto; }

div.rounded-box div div, div.rounded-box-header div div {
  background-position: top right;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px; }

div.rounded-box div div div, div.rounded-box-header div div div {
  margin: 0px 13px 0px -13px;
  background-position: top left;
  padding: 13px 0px 0px 13px; }

div.rounded-box div div div div, div.rounded-box-header div div div div {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  background: none;
  background-image: none;
  background-position: top left;
  background-repeat: repeat;
  background-color: transparent;
  width: 100%; }

.rwide {
  background: url('/images/light_blue_mid.jpg') repeat top left;
  height: 290px;
  width: 900px; }

.rwide-left {
  background: url('/images/light_blue_left.jpg') no-repeat top left;
  height: 290px;
  width: 20px;
  display: block;
  float: left;
  width: 870px; }

.rwide-right {
  background: url('/images/light_blue_right.jpg') no-repeat top right;
  height: 290px;
  width: 20px;
  display: block;
  float: right; }

.group-details {
  margin: 10px 0px 0px 0px; }

.group-image {
  padding: 10px 0px 0px 20px;
  float: left; }

.centered {
  position: relative;
  margin: 40px auto 30px auto!important; }

.centered2 {
  margin: 4px auto 20px auto; }
