body {
  background: url('/images/body_bg.png') 0 0 repeat-x;
  background-color: #ededed;
  font-family: Verdana, Arial, sans-serif; }

a {
  outline: none; }

#header {
  position: relative;
  background: url('/images/header_bg.png') 0 0 repeat-x;
  height: 117px;
  color: #ededed; }

.nav {
  color: #ededed; }
  .nav #login a {
    color: #ededed;
    text-decoration: none;
    padding: 0 4px; }
    .nav #login a:hover {
      color: #004B73;
      background-color: #d1e1ea; }
  .nav p {
    color: #004B73;
    background-color: #d1e1ea;
    padding: 2px 4px; }
  .nav #nav-list ul {
    list-style: none;
    padding: 0;
    margin: 0; }
  .nav #nav-list li {
    float: left;
    margin: 0 0.2em;
    list-style: none; }
  .nav #nav-list li a {
    color: #ededed;
    font-size: 14pt;
    line-height: 1em;
    padding: 1px 2px;
    float: left;
    display: block;
    text-decoration: none;
    text-align: center; }
    .nav #nav-list li a:hover {
      color: #004B73;
      background-color: #d1e1ea; }

#content {
  background: white;
  margin-bottom: 120px;
  min-height: 500px;
  height: 500px;
  height: auto !important; }

#splash {
  background: #EAFFD6;
  border: 1px solid #97AD71; }

.cred {
  border-top: 1px solid #888; }


.flr {
  float: right; }

.fll {
  float: left; }

.center {
  text-align: center; }

.rounded {
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }

.border-test {
  border: 1px solid #999;
  padding: 4px; }

#green {
  width: 970px;
  min-height: 300px;
  background: url('/images/green_mid_rpt.jpg') 0 0 repeat-y;
  margin: 30px 0px 0px 27px; }

#green-top {
  background: url('/images/green_mid_top.jpg') 0 0 no-repeat;
  width: 970px;
  height: 20px;
  display: block;
  margin: 0px 0px 0px 0px;
  float: left; }

#green-bottom {
  clear: both;
  background: url('/images/green_mid_btm.jpg') no-repeat bottom left;
  width: 970px;
  height: 20px;
  display: block;
  margin: 0px 0px 0px 0px; }
