body {
  background: url('/images/body_bg.png') 0 0 repeat-x;
  background-color: #ededed; }

a, a:focus, button:focus, input:focus, textarea:focus {
  outline: none; }

button::-moz-focus-inner {
  border: 0; }

h1.logo a {
  width: 310px;
  height: 97px;
  background: url('/images/logo.jpg') 0 0 repeat-x;
  display: block;
  text-indent: -8888px;
  margin: 5px 0px 0px 13px;
  float: left; }

#header {
  position: relative;
  background: url('/images/header_bg.png') 0 0 repeat-x;
  height: 117px;
  color: #ededed; }

a.rounded, div.pagination a {
  outline: none;
  border: none;
  white-space: nowrap;
  vertical-align: middle;
  diplay: -moz-inline-box;
  display: inline-block;
  overflow: visible; }

.nav {
  color: #ededed; }
  .nav #login a {
    color: #ededed;
    text-decoration: none;
    padding: 0 4px; }
    .nav #login a:hover {
      color: #004B73;
      background-color: #d1e1ea; }
  .nav p {
    color: #004B73;
    background-color: #d1e1ea;
    padding: 2px 4px; }
  .nav #nav-list ul {
    list-style: none;
    padding: 0;
    margin: 0; }
  .nav #nav-list li {
    float: left;
    margin: 0 0.2em;
    list-style: none; }
  .nav #nav-list li a {
    color: #ededed;
    font-size: 14pt;
    line-height: 1em;
    float: left;
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 3px; }
    .nav #nav-list li a:hover {
      color: #004B73;
      background-color: #d1e1ea; }
  .nav #nav-list li.active a.rounded {
    color: #004B73;
    background-color: #d1e1ea; }

#content {
  background: white;
  margin-bottom: 120px;
  min-height: 500px;
  height: 500px;
  height: auto !important; }

#splash {
  background: #EAFFD6;
  border: 1px solid #97AD71; }

.cred {
  border-top: 1px solid #888; }


.flr {
  float: right; }

.fll {
  float: left; }

.clear {
  clear: both; }

.center {
  text-align: center; }

.rounded {
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }

.border-test {
  border: 1px solid #999;
  padding: 4px; }

#green {
  width: 940px;
  min-height: 300px;
  background: url('/images/green_mid_rpt.jpg') 0 0 repeat-y;
  margin: 30px 0px 0px 27px; }

#green-top {
  background: url('/images/green_mid_top.jpg') 0 0 no-repeat;
  width: 940px;
  height: 20px;
  display: block;
  margin: 0px 0px 0px 0px;
  float: left; }

#green-bottom {
  clear: both;
  background: url('/images/green_mid_btm.jpg') no-repeat bottom left;
  width: 940px;
  height: 20px;
  display: block;
  margin: 0px 0px 50px 0px; }

.rform {
  width: 470px;
  min-height: 200px;
  background: url('/images/lr_mid.jpg') 0 0 repeat-y;
  margin: 0px auto 0px auto; }

.rform-top {
  background: url('/images/lr_top.jpg') 0 0 no-repeat;
  width: 470px;
  min-height: 40px;
  display: block;
  margin: 0px 0px 0px 0px;
  float: left; }

.rform-bottom {
  clear: both;
  background: url('/images/lr_bottom.jpg') no-repeat bottom left;
  width: 470px;
  height: 20px;
  display: block;
  margin: 0px 0px 0px 0px; }

.tbs {
  margin: 40px auto 40px auto; }
