div.pagination {
  padding: 3px;
  margin: 3px;
  text-align: center; }
  div.pagination a {
    border: 1px solid #eee;
    margin-right: 3px;
    padding: 2px 6px;
    background-color: #003f6d;
    background-position: bottom;
    text-decoration: none;
    color: #e2e9ec; }
    div.pagination a:hover {
      border: 1px solid #eee;
      background-image: none;
      background-color: #def3f3;
      color: #02293e; }
  div.pagination span.current_page {
    margin-right: 3px;
    padding: 2px 6px;
    font-weight: bold;
    color: #ff0084; }
  div.pagination span.disabled_page {
    margin-right: 3px;
    padding: 2px 6px;
    color: #adaaad; }
div.meneame a:active {
  border: 1px solid #eee;
  background-image: none;
  background-color: #def3f3;
  color: #02293e; }
