- for grant in forum(@grants)
  %h3=h grant.name
  %h3== $#{grant.amount.to_i.to_s}
  %p= simple_format grant.proposal, :class => "large"
  .span-4.prepend-2.success.last
    %p
      = render 'shared/vote', :grant => grant
  .span-2.last &nbsp; <!-- ? -->
  .span-8.success.last
    %p status at present
    %p exempt or time expires
  %hr
  
