.span-24
  .prepend-top
    .span-8.prepend-1
      - if controller.controller_name == "groups"
        %h2= link_to image_tag(group.photo.url(:display), :alt => "to group voting page"), group_grants_path(group), :title => "View Session"
      - else
        %h2= link_to image_tag(group.photo.url(:display), :alt => "to group home page"), group_path(group)
    .span-14.append-1.last
      %h2=h group.name
      %h3=h group.purpose
      %br
      %br
      %br
    .span-10.last
      %h3.flr== Pool $#{group.funds.floor.to_i}
%br{:style => "clear: both"}      
