.rwide.centered2
  .rwide-left
    - if controller.controller_name == "groups" and !group.nil?
      .group-image
        = link_to user_defined_image(group, :display, :alt => "to group voting page", :title => "View Session"), group_grants_path(group)
    - elsif !group.nil?
      .group-image
        = link_to user_defined_image(group, :display, :alt => "to group home page"), group_path(group)
    - else 
      %h2 Nothing 
    .group-details
      %h2 
        =h group.name
      %h3 
        =h group.purpose
      .flr.prepend-top
      %h3== Pool #{number_to_currency(group.funds.floor, :precision => 0)}   
  .rwide-right
