.prepend-top
%div.rounded-box.rounded-box-medium.centered
  %div
    %div
      %div
        %h2.prepend-1.prepend-top Edit Your Account
        .clear
          - form_for @user, :url => account_path, :html => {:multipart => true } do |f|
            = f.error_messages
            = render :partial => "form", :object => f
            .prepend-4
              %br
              &nbsp; &nbsp; &nbsp; 
              = submit_button "Update"
              &nbsp;
              = link_to "Go Back", account_path
            .form-space
            %br

