%h2.prepend-1 Edit Your Account
- form_for @user, :url => account_path, :html => {:multipart => true } do |f|
  = f.error_messages
  = render :partial => "form", :object => f
  .prepend-4
    %br
    = submit_button "Update"
    &nbsp;
    = link_to "Go Back", account_path
%br
%br
%br
