.prepend-1.span-22.append-1.prepend-top
  .prepend-1.span-7.append-1
    %p= image_tag @user.photo.url :large
    %h3.prepend-1=h @user.login  
    .flr= button_to 'Edit', edit_account_path, :method => :get
  .span-12.append-1.last
    %h3 Awards
    - @user.grants.awarded.each do |g|
      = link_to image_tag(g.photo.url :medium), group_grant_path(g.group, g)
    %h3 Session
    - @user.grants.session.each do |g|
      = link_to image_tag(g.photo.url :small), group_grant_path(g.group, g)
    
