- form_for :invitation, :url => {:controller => "invitations", :action => "create"} do |f|
  .form_row
    %label.email Email
    = f.text_field :email, :class => "text invitation_email_text"
    = f.submit "Submit"
  .form_row
    = f.check_box :news, {:style => "position:relative; top: 3px;"}, "true", "false"
    Check to also subscribe to Grantvote news and product updates.
  
