= stylesheet_link_tag "tipjoy/widget"
== <script language="javascript" src="http://tipjoy.com/socnet/widget?url=http%3A%2F%2Fwww.grantvote.com%2Fgroups%2F#{group}&message=Splash%20the%20pool!&amount=1&showTipperMessage=True&tipperMessageTitle=Compliment%20the%20group%3F"></script>
