= error_messages_for :invitation
- form_for  Invitation.new do |f| 
  .form_row
    %h6.quiet Email
    = f.text_field :email, :class=>'required email', :id=>'email_invitation'
    = submit_button "Send", :lite => true
