$("#new_invitation").before('<div id="flash_notice"><%= escape_javascript(flash.delete(:notice)) %></div>');
$(".limitleft").html("<%= current_user.invitation_limit %>");
$("#new_invitation")[0].reset();

