#green
  #green-top
  .prepend-1.prepend-top
    %br
    %br
    %h2.prepend-1.prepend-top{:style => "color: #222"} Grantvote helps people give and win financial support.
    %h5.quiet.span-15.prepend-1 
      Create and join groups based on shared interests.  Grow your groups and their financial resources.
      %br
      Write a grant and let the voters of the group decide.  Win the grant and it's yours, no strings attached.
    .prepend-1.prepend-top
      %br
      %h6.quiet{:style => "color: #444"} Enter your email address and we'll send you an invitation.  
      .prepend-top
        = render 'shared/invitation'
      .form-space
      .quiet We won't spam you or give your email to others.
      =# link_to "Grantvote Factsheet", root_path
      %br
      %br
      %br
  #green-bottom


  
