%h3 Greetings
%p 
  %strong
    Grantvote 
  helps people give and win financial support.
%p 
  Create and join groups based on shared interests. Grow your groups and their financial resources. Write a grant and let the voters of the group decide. Win the grant and it's yours, no strings attached.
  = link_to @signup_url, @signup_url, {:target=>'_blank'}

