= render 'groups/header', :group => @grant.group
- if @grant.votes.count.zero?
  .prepend-5
    %div.rounded-box.rounded-box-medium
      %div
        %div
          %div.rounded-box-largefont
            - form_for @grant, :html => { :multipart => true } do |f|
              = render 'form', :object => f
              .prepend-4
                %br
                = submit_button "Preview"
                %br
                %br
 
