- if controller.controller_name == "grants" and params[:group_id]
  = render 'shared/groups_header' 
  = render 'groups/forum'
- elsif params[:user_id]
  = render 'account'
- elsif controller.congroller_name == "groups"
  = redirect_to root_path
